<h1 *ngIf="teste" mat-dialog-title>Adicionar</h1>
<h1 *ngIf="!teste" mat-dialog-title>Editar</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="data.idProd">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="data.descr">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
        <mat-label>Preço</mat-label>
        <input matInput [(ngModel)]="data.preco">
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button  *ngIf="teste" [mat-dialog-close]="data" cdkFocusInitial>Adicionar</button>
  <button mat-button *ngIf="!teste" [mat-dialog-close]="data" cdkFocusInitial>Salvar</button>
</div>
