<div>
    <button mat-stroked-button (click)="add()">Adicionar</button>
    <table mat-table #tabela [dataSource]="Cotacoes" class="mat-elevation-z8">
  
      <ng-container matColumnDef="idCot">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idCot}} </td>
      </ng-container>
    
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>
  
      <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef> Hora </th>
          <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
        </ng-container>

        <ng-container matColumnDef="forn">
            <th mat-header-cell *matHeaderCellDef> Fornecedor</th>
            <td mat-cell *matCellDef="let element"> {{element.forn}} </td>
          </ng-container>

          <ng-container matColumnDef="qtd">
            <th mat-header-cell *matHeaderCellDef> Quantidade </th>
            <td mat-cell *matCellDef="let element"> {{element.qtd}} </td>
          </ng-container>

          <ng-container matColumnDef="prod">
            <th mat-header-cell *matHeaderCellDef> Produto </th>
            <td mat-cell *matCellDef="let element"> {{element.prod}} </td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
          </ng-container>

      <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element"> 
              <button mat-fab color="primary" (click)="editar(element)">
                  <mat-icon>edit</mat-icon>
              </button>
              <button mat-fab color="warn" (click)="excluir(element.idCot)">
                  <mat-icon>delete</mat-icon>
              </button> 
          </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
  </div> 